body, html {
   height: calc(100% - 2em);
   margin: 0;
   font-family: 'bahnschrift';
   text-align: center;
}

.navcenter{
   margin-top: 5em;
   margin-left: auto;
   margin-right: auto;
}

.imgcenter {
   margin-top: 8em;
   margin-left: auto;
   margin-right: auto;
}

figure {
   margin: 10;
   text-align: center;
}

figcaption {
   margin-top: 2em;
   font-size: 2em;
   font-weight: bold;
}

ul {
   list-style-type: none;
   margin: 1.5em;
}

ul il a {
   text-decoration: none;
   font-size: 1.2em;
   font-weight: bold;
   padding: 0em 6.5em;
   color: black;
}

.aboutRicks {
   margin-top: 5em;
}

pre {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   font-family: 'bahnschrift';
}